.main {
  padding-top: 80px;
  min-height: 100vh;
  justify-content: flex-start !important;

  .form {
    gap: 40px;

    .formLabel {
      white-space: nowrap;
      position: absolute;
      left: -130px;
      text-align: right;
      width: 100px;
    }

    .submit {
      margin: auto;
      background-color: #69feff;
    }
  }
}
