.formRowContainer {
  position: relative;

  .formLabel {
    white-space: nowrap;
    position: absolute;
    left: -180px;
    text-align: right;
    width: 150px;
  }

  .error {
    position: absolute;
  }

  @media (max-width: 576px) {
    .formLabel {
      position: relative;
      left: 0;
      top: 0;
      text-align: left;
    }
  }
}
