.main {
  padding-top: 40px;
  .header {
    width: fit-content;
    margin: 0 auto 60px auto;
  }

  .editForm {
    gap: 40px;
  }

  .submit {
    margin: auto;
    background-color: #69feff;
  }
}
